Package: xe-duckdns
Version: 0.1.38
Section: misc
Priority: extra
Architecture: all
Maintainer: Jakobus Schürz <jakob@xundeenergie.at>
Homepage: http://github.com/xundeenergie/xe-duckdns
Provides: xe-duckdns
Depends: deb-systemd-helper-new
Recommends: 
Description: Dynamic-DNS with duckdns.org
 Update dynamic-dns with duckdns.org as systemd-unit
